/* Import two fonts from Google api */
@import url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

/* Import local fonts */
@font-face {
  font-family: "Looped";
  src: url("../fonts/Looped.ttf") format("truetype");
}

@font-face {
  font-family: "Standard";
  src: url("../fonts/Standard.ttf") format("truetype");
}

/* Colour Pallette */
:root {
  --coreFont: Montserrat;
  --titleFont: Comfortaa;
  --darkBlue: #2a2e70;
  --purple: #5d2550;
  --red: #de3d2c;
  --lightRed: #ea8c85;
  --yellow: #f7c43f;
  --lightYellow: #f9db94;
  --green: #cccf3b;
  --lightGreen: #dfe191;
  --lightBlue: #56c0d3;
  --xLightBlue: #9dd9e3;
  --grey: #545454;
  --lightGrey: #7f7f7f;
}

/* .navbar-exceed {
  max-width: 1400px;
} */

#create-link {
  color: var(--green);
}

#speed-sounds-link {
  color: var(--lightBlue);
}

#red-words-link {
  color: var(--red);
}

#books-link {
  color: var(--yellow);
}

#create-link,
#speed-sounds-link,
#red-words-link,
#books-link {
  font-weight: bold;
}

#create-link:hover,
#speed-sounds-link:hover,
#red-words-link:hover,
#books-link:hover {
  color: var(--darkBlue);
  transform: scale(1.05);
}

html {
  max-width: 1280px;
  background-color: var(--darkBlue);
  margin: 0 auto;
  padding: 20px 50px;
}

body {
  font-family: "Standard";
}

#canvasSpace,
#canvasTools,
#canvasBtns {
  justify-content: center;
}

.wrapper {
  position: relative;
}

.dropdowns {
  border: 3px solid var(--darkBlue);
}

#soundsSpace {
  display: flex !important; /* Change display property to flex */
  border: 3px solid var(--darkBlue);
  justify-content: center; /* Center the items horizontally */
  align-items: center; /* Center the items vertically */
  cursor: pointer;
  height: 90%;
}

#soundCard {
  font-family: "Standard";
  font-size: 20rem;
  text-align: center;
  cursor: pointer;
}

#soundImg {
  flex: 1; /* Let the soundImg take up the available space */
  width: auto; /* Adjust width as needed */
}

#wordsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#wordCard {
  font-family: "Standard";
  font-size: 18rem;
  text-align: center;
  cursor: pointer;
}

#soundCard {
  width: 60%;
}

#soundImg {
  width: 40%;
}

.green-word {
  color: green;
  border: 1rem solid green !important;
}

.red-word {
  color: var(--red);
  border: 1rem solid var(--red) !important;
}

.new-red-word {
  color: var(--red);
  border: 1rem dashed var(--red) !important;
}

#gameBtns {
  position: absolute;
  top: 25px;
  left: 40px;
  z-index: 1;
}

.gameBtn {
  height: 80px;
  margin: 3px 0;
  padding: 3px;
  cursor: pointer;
}

.navigation-button {
  position: absolute;
  bottom: 0;
  color: #fff;
  background-color: rgba(42, 46, 112, 0.5);
  border: none;
  padding: 5px;
  cursor: pointer;
  font-size: 5rem;
  max-height: 9rem;
}

.prev-button {
  left: 0;
  top: 50%; /* Position halfway up */
  transform: translateY(-50%); /* Adjust vertical position */
}

.next-button {
  right: 0;
  top: 50%; /* Position halfway up */
  transform: translateY(-50%); /* Adjust vertical position */
}

#bookPageContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-page {
  border: 3px solid var(--darkBlue);
  width: calc(100% - 2 * 1rem);
}

#myCanvas {
  /* width: 800px;
  height: 600px; */
  border: 5px solid var(--darkBlue);
  cursor: crosshair;
  background-color: rgba(0, 0, 0, 0);
}

.canvasBtn {
  width: 80px;
  margin: 3px 0;
}

.canvasBtn:hover {
  transform: scale(1.08);
  border: 3px solid var(--purple);
}

.selectedBtn {
  border: 3px solid var(--darkBlue) !important;
}

.deactivated {
  opacity: 0.5;
  pointer-events: none; /* Optional: Disables clicking on the button */
}

#scoreCard,
#timerCard {
  cursor: pointer;
}

.timerImg,
.scoreImg {
  width: 50px;
}

.timer,
.score {
  border: 3px solid var(--darkBlue);
  align-items: center;
  padding: 5px;
}

#timer,
#score {
  font-family: var(--titleFont);
  font-size: 50px;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

p {
  font-family: "Standard";
  font-size: 60px;
}

/* Media query for smaller screens */
@media screen and (max-width: 1020px) {
  #soundCard,
  #wordCard {
    font-size: 17rem;
  }
}

/* Media query for smaller screens */
@media screen and (max-width: 992px) {
  #soundCard,
  #wordCard {
    font-size: 15rem;
  }

  #create-link:hover,
  #speed-sounds-link:hover,
  #red-words-link:hover,
  #books-link:hover {
    transform-origin: left;
  }
}

/* Media query for smaller screens */
@media screen and (max-width: 841px) {
  #soundCard,
  #wordCard {
    font-size: 12rem;
  }

  .gameBtn {
    height: 70px;
  }
}

/* Media query for smaller screens */
@media screen and (max-width: 742px) {
  #soundCard,
  #wordCard {
    font-size: 9rem;
  }

  .gameBtn {
    height: 60px;
  }
}

/* Media query for smaller screens */
@media screen and (max-width: 646px) {
  #soundCard,
  #wordCard {
    font-size: 6rem;
  }

  .gameBtn {
    height: 50px;
    margin: 2px 0;
    padding: 2px;
  }
}

/* Media query for smaller screens */
@media screen and (max-width: 549px) {
  html {
    padding: 10px 10px;
  }
  #soundCard,
  #wordCard {
    font-size: 3rem;
  }

  .gameBtn {
    height: 45px;
  }
}

@media screen and (max-width: 414px) {
  .navigation-button {
    padding: 5px; /* Reduce padding for smaller screens */
    font-size: 1.5rem; /* Reduce font size for smaller screens */
    max-height: 3rem; /* Adjust max height for smaller screens */
  }

  .gameBtn {
    height: 30px;
  }
}
